<% include header %>
    <main role="main" class="container">
      <div id="todo-header">
        <h1>Todo Express</h1>
        <p class="lead">Instructions go here.</p>
      </div>

      <div id="todo-list">
        <div>
          This is a todo item.
        </div>

        <div>
          This is another todo item.
        </div>
      </div>
    </main><!-- /.container -->
<% include footer %>
